<ion-header>
    <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="close()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-label>{{ description || 'No description available' }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Start Time: {{ startTime | date: 'short' }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>End Time: {{ endTime | date: 'short' }}</ion-label>
    </ion-item>
</ion-content>